[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gestalt"]
	path = gestalt
	url = https://github.com/egnha/gestalt
	shallow = true
	registered = true
[submodule "nofrills"]
	path = nofrills
	url = https://github.com/egnha/nofrills
	shallow = true
	registered = true
[submodule "valaddin"]
	path = valaddin
	url = https://github.com/egnha/valaddin
	shallow = true
	registered = true
