[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dub"]
	path = dub
	url = https://github.com/egnha/dub
[submodule "gestalt"]
	path = gestalt
	url = https://github.com/egnha/gestalt
[submodule "nofrills"]
	path = nofrills
	url = https://github.com/egnha/nofrills
[submodule "valaddin"]
	path = valaddin
	url = https://github.com/egnha/valaddin
